html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #24292e;
    background-image:url(../images/star-bg.svg),linear-gradient(#191c20, #24292e 15%);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0;
    color:#fff;
    min-height: 1200px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** Başladık bir kere **/

header{
    padding-top:100px;
    text-indent:0;
    text-align: center;
}

header .logo{
    max-width:180px;
    opacity: 0.99;
}

header .head-info{
    letter-spacing: 5px;
}

header .head-info h1,h5{
    margin-bottom:30px;
    font-weight: 300;
}

/** Content **/

.content{
    margin-top:100px;
}

.content h1,.content h2,.content h3,.content h4{
    font-weight: 300;
    font-family: sans-serif;
}

/** Card **/

.card{
    background: #ffbf00;
}

.card-title{
    padding: 10px;
    font-weight:400;
}
